mat-form-field {
    width: 100%;
    margin-top: 25px;
}

* {
    font-size: 15px;
}

::ng-deep .success-snackbar {
    background-color: #028c0d !important;
}

::ng-deep .error-snackbar {
    background-color: #ff6b6b !important;
}