:host {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  
}

.mat-form-field {
  width: 100%;
  min-width:350px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card{
  margin:130px auto;
  width:100%;
  max-width: 400px;
}

.button {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
