<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" style="width: 100%;
        height: 100%;">

          <ngx-charts-number-card style="width: 100%;
          height: 100%;" [cardColor]="colorScheme.domain[i]" [bandColor]="colorScheme.domain[i]"
            [results]="single[i]">
          </ngx-charts-number-card>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>