.upload-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.upload-file-remove-button {
    padding: 0;
    margin: 0;
    position: absolute; right: 0;
}

.file-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.file-remove-btn {
    display: inline;
    margin: 0;
    padding: 0;
    color: #ff6b6b;
}

.file-name {
    margin: 10px;
    display: inline;
}

.upload-box {
    margin-top:15px;
    height: 400px;
    margin-bottom: 15px;
    overflow-y: scroll;
    position: relative;
}

.uploading-darken {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(31, 31, 31, 0.548);
}

.upload-box-prompt-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.upload-prompt {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

.error-box {
    margin-top:15px;
    height: 400px;
    margin-bottom: 15px;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 10px;
}

.upload-progress-spinner-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
}

.no-scroll {
    overflow-y: hidden;
}

.scrollbar-style::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(37, 37, 37);
}

.scrollbar-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #30303000;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(59, 59, 59);
}
