<mat-dialog-content class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Student Grade</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="addGradeForm">

        <mat-form-field color="accent">
          <mat-label>Course ID</mat-label>
          <input type="text" matInput placeholder="Course ID" formControlName="courseId" required>
        </mat-form-field>


        <mat-form-field color="accent">
          <mat-label>CRN</mat-label>
          <input type="text" matInput placeholder="CRN" formControlName="crn" required>
        </mat-form-field>


        <mat-form-field color="accent">
          <mat-label>Term</mat-label>
          <input type="text" matInput placeholder="Term" formControlName="term" required>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Student ID</mat-label>
          <input type="text" matInput placeholder="Student ID" formControlName="studentId" required autofocus
            (input)="isTakenStudentId($event.target.value)">
          <mat-error>Please enter a student ID</mat-error>
        </mat-form-field>
        <span *ngIf="!this.validStudentId" style="color:red">This Student ID has been taken</span>


        <mat-form-field color="accent">
          <mat-label>Student Grade</mat-label>
          <input type="number" min="0" max="100" matInput placeholder="Student Grade" formControlName="finalGrade"
            required>
          <mat-error>Grade must a number from 0 to 100</mat-error>

        </mat-form-field>


        <mat-form-field color="accent">
          <mat-label>Student Raw Grade</mat-label>
          <input type="text" matInput placeholder="Student Raw Grade" formControlName="rawGrade">
        </mat-form-field>



        <div class="button">
          <button [disabled]="!validStudentId" style="margin-top:25px" class="pulse waves-effect waves-light"
            (click)="submit()" [mat-dialog-close]="data" mat-raised-button color="accent">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>