.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 20vw;
    min-width: 200px;
    max-width: 325px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  