<div class="grid-container">
    <h1 class="mat-h1">Course</h1>
    <mat-form-field style="margin-top:20px; width:80%; margin-right:15px; " color="accent">
        <span matPrefix style="margin-right:5px">

    </span><input matInput (keyup)="applyFilter($event.target.value)">
        <mat-label>
            <mat-icon>search</mat-icon> Filter
        </mat-label>
    </mat-form-field>

    <button matTooltip="Add Course" mat-raised-button color="accent" (click)="openAddDialog()">Add</button>

    <div class="mat-elevation-z8" style="margin-top:15px">
        <table mat-table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="courseId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Course ID </th>
                <td mat-cell *matCellDef="let row"> {{row.courseId}} </td>
            </ng-container>

            <ng-container matColumnDef="passingGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Passing Grade </th>
                <td mat-cell *matCellDef="let row"> {{row.passingGrade}}% </td>
            </ng-container>

            <ng-container matColumnDef="prerequisite">
                <th mat-header-cell *matHeaderCellDef> Number of Prerequisites </th>
                <td mat-cell *matCellDef="let row">
                    {{row.prerequisites.length}}

                </td>
            </ng-container>


            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell *matCellDef="let row">
                    <button matTooltip="View Course" mat-icon-button style="color:#2F72ED" (click)="viewCourse(row)">
            <mat-icon>search</mat-icon>
          </button>
                </td>
            </ng-container>


            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let row">
                    <button matTooltip="Edit Course" mat-icon-button color="accent" (click)="openEditDialog(row)">
            <mat-icon>create</mat-icon>
          </button>
                </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>


        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" color="accent"></mat-paginator>
    </div>





</div>