<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Course</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="addCourseForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field color="accent">
            <mat-label>Course ID</mat-label>
            <input type="text" matInput placeholder="Username" formControlName="courseId" required autofocus>
            <mat-error>Please enter a course ID</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field color="accent">
            <mat-label>Passing Grade</mat-label>
            <input type="text" matInput placeholder="Passing Grade" formControlName="passingGrade" required>
            <mat-error>Please enter a passing grade</mat-error>
          </mat-form-field>
        </p>


        <p>
          <mat-form-field color="accent">
            <input matInput placeholder="Course" aria-label="Course" [matAutocomplete]="auto"
              [formControl]="courseAutoComplete">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let course of filteredCourses | async" [value]="course.courseId">
                <span>{{course.courseId}}</span> |
                <small>Passing Grade: {{course.passingGrade}} %</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>


        <div class="button">
          <button style="margin-top:15px" type="submit" class="pulse waves-effect waves-light" [disabled]="isLoading"
            mat-raised-button color="accent">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>